<footer>
  <div id="footer-links">
    <span class="spacer">&copy; 2016 Gilmation Ltd</span>
    <span class="spacer"><a href="/cookies">Cookies</a></span>
    <span class="spacer"><a href="/terms">Terms & Conditions</a></span>
  </div>
  <div class="gilmation-link unit align-center one-fifth">
    <a href="http://gilmation.com"><img alt="web development, design and hosting by Gilmation" src="/images/gilmation-logo-small.gif"></a>
  </div>
  <div style="display: none;">
    Created at: {{ site.time }}
  </div>
</footer>