<script>
//$(function() {

  // work out where we are and then fix the footer to the bottom of the page
//  var fix_footer = function() {
////    console.log('footer');
//    $footer = $("footer");
//    body_height = $("body.wrap").outerHeight();
//    window_height = $(window).height();
//    footer_height = $footer.outerHeight();
//
////    console.log('Window Height ['+window_height+']');
////    console.log('Body Height ['+body_height+']');
////    console.log('Footer Height['+footer_height+']');
//
//    if (body_height > (window_height - 10)) {
////      console.log('removing footer');
//      $footer.removeClass('footer-fixed');
//    } else {
////      console.log('Fixing footer');
//      $footer.addClass('footer-fixed');
//    }
//  };
//
//  // check where the footer is in relation to the bottom of the page when the user resizes the window
//  $(window).bind("resize", function() {
//    fix_footer();
//  });
//
//  $("#logo-link").click(function() {
//    window.location = '/';
//  });
//
//  $("#tabs").tabs();
//
//  $(window).bind("load", function() {
//    fix_footer();
//  });
//});
</script>