//= require vendor/normalize.css
//= require vendor/gridism.css
//= require vendor/jquery.horizontal-slide-mobile-menu.v0.0.1.min.sass
//= require base.scss

$c-black: #333;
$c-anchor: #60B0D6;
$c-gold-light: #dabd3a;
$c-gold-med: #CCAE28;
$c-gold-dark: #795F11;
$c-gray-light: #c5c5c5;
$c-gray-med: #aaa;
$c-gray-dark: #616161;

/* typography */

html {
  height: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 1.5;
  min-height: 100%;
  margin: 0;
  padding-bottom: 470px;
  position: relative;
  color: $c-gray-dark;
}


p {
  margin-bottom: 1em;
}

h1,h2,h3,h4,h5,h6{
  font-family: 'Montserrat', sans-serif;
}

h2 {
  font-size: 2.2em;
  line-height: 1.2em;
  font-weight: normal;
  color: $c-black;
  text-transform: uppercase;
}
a{
  color: $c-anchor;
  text-decoration: none;
}
a:hover{
  text-decoration: underline;
}