---
---

// Breakpoints
$large-breakpoint: 64em !default;
$medium-breakpoint: 42em !default;

// Headers
$header-heading-color: #fff !default;
$header-bg-color: #4a2d99 !default;
$header-bg-color-secondary: #992b72 !default;

// Text
$section-headings-color: #992b72 !default;
$body-text-color: #606c71 !default;
$body-link-color: #4a2d99 !default;
$blockquote-text-color: #819198 !default;

// Code
$code-bg-color: #f3f6fa !default;
$code-text-color: #567482 !default;

// Borders
$border-color: #dce6f0 !default;
$table-border-color: #e9ebec !default;
$hr-border-color: #eff0f1 !default;

@import "{{ site.theme }}";

body {
  font-family: 'Rubik', sans-serif;
}

.page-header{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
}
.project-name{
  .ember-logo{
    width: 200px;
  }
}
.anchor {
  float: left;
  padding-right: 4px;
  margin-left: -20px;
  line-height: 1;
  .octicon-link{
    color: #1b1f23;
    vertical-align: middle;
    visibility: hidden;
  }
}
h2:hover .anchor .octicon-link{
  visibility: visible;
}
.floating-buttons .floating-button{
  background-color: #2ab8e4;
}
.floating-buttons .floating-button .floating-button-icon-plus{
  height: 14px;
}